body{
    background-image: linear-gradient(rgb(216, 216, 216) ,blue);
    font-size: 250%;
}
select{
    font-size: 60%;
    width: auto;
}
canvas{
    background-color: white;
    box-shadow: 0vw 0vw 2vw;
    margin-top: 1vw;
}
button{
    font-size: 60%;
}